header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem; /* Make the title text bigger */
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logout-button {
  padding: 8px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #007B9A;
}