// event_details.scss

@import "../common/buttons"; // Adjust the path as per your project structure
/* Main content styles */
.event-details {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 1;
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
  }
}