.title-text {
  margin-left: 20px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    text-align: right;
    margin-right: 20px;
}

