.user-events {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.event {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.event h2 {
    margin: 0 0 10px;
}

.event p {
    margin: 0 0 10px;
}
.user-events-title{
    margin-left: 20px;
}
